.paper-btn {
  display: inline-block;
  margin: 58px 12px;
}

.paper-btn label {
  display: inline-block;
  width: 80px;
  border-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #616161;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
}
.paper-btn input {
  display: none;
}
.paper-btn-true input:checked ~ label {
  background-color: #38e14f;
  color: aliceblue;
  box-shadow: 7px -7px 8px 0px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.paper-btn-false input:checked ~ label {
  background-color: #fc5f5f;
  color: aliceblue;
  box-shadow: 7px -7px 8px 0px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}