div{
    user-select: none;
}
label{
    cursor: pointer;
}
input{
    appearance: none;
    height: 20px;
    width: 20px;
    position: relative;
    background-color: transparent;
    border: 1px solid #272727;
}
@keyframes tick1{
    from{
        height: 0px;
    }
    to{
        height: 12px;
    }
}
@keyframes tick2{
    from{
        height: 0px;
    }
    to{
        height: 20px;
    }
}
input:checked::before{
    content: "";
    width: 5px;
    height: 20px;
    left: 10px;
    bottom: -2px;
    background-color: greenyellow;
    position: absolute;
    animation-name: tick2;
    animation-duration: 2s;
    rotate: 45deg;
}
input:checked{
    border: 0px solid #272727;
}
input:checked::after{
    content: "";
    width: 5px;
    height: 12px;
    left: 0.8px;
    bottom: -2px;
    background-color: greenyellow;
    position: absolute;
    rotate: 135deg;
    animation-name: tick1;
    animation-duration: 2s;
}