body {
    background-color: #fefeff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 40px;
}
.box {
    width: 300px;
    height: 160px;
    background: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.shadow-1 {
    background-color: pink; 
}
.shadow-1::before, 
.shadow-1::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px; 
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.5);
    transform: rotate(-5deg);
}
.shadow-1::after {
    left: auto;
    right: 10px;
    transform: rotate(5deg);
}
.shadow-2 {
    background-color: rgb(230, 230, 57);
}
.shadow-2::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 14px;
    left: 8px;
    width: 75%;
    height: 20%;
    box-shadow: 0 18px 12px rgba(0, 0, 0, 0.5);
    transform: rotate(-4deg) skew(-5deg);
}
.shadow-3 {
    background-color: rgb(183, 233, 109);
    box-shadow: 0px 17px 8px -5px rgba(0, 0, 0, 0.5),0px -17px 8px -5px rgba(0, 0, 0, 0.5);
}
.shadow-4 {
    background-color: aquamarine;
    box-shadow: 17px 0px 8px -5px rgba(0, 0, 0, 0.5), -17px 0px 8px -5px rgba(0, 0, 0, 0.5);
}