body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(58, 99, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
    flex-wrap: wrap;
    gap: 20px;
}
.deck{
    display: inline-block;
}
.red{
    color: red;
}
.black{
    color: black;
}
.top{
    position: absolute;
    top: 35px;
    left: 7.5px;
}
.top,.bottom{
    font-size: 50px;
}
.bottom{
    position: absolute;
    bottom: 37.5px;
    right: 7.5px;
    rotate: 180deg;
}
.bottom::before,
.top::before{
    display:block;
    position: absolute;
    left: 2.5px;
    content: attr(number);
}
.center{
    font-size: 100px;
    align-self: center;
}
.top::before{
    top: -40px;
}
.bottom::before{
    top: -40px;
    left: 2.5px;
}
.card{
    height: 250px;
    width: 150px;
    border: 0px solid;
    border-radius: 10pt;
    background-color: aliceblue;
    display: flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}
.card:hover{
    transform: translateY(-30px);
    transition: transform 0.4s;
}