    body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    header{
        display: flex;
        justify-content: center;
    }
    #ham-check{
        display: none;
    }
    .header-links{
        display: block;
    }
    .header-links > li{
        display: inline-block;
        margin-left: 20px;
        text-align: center;
        cursor: pointer;
    }
    .header-links > li::before{
        content: attr(emoji);
    }

    .baners-img{
        width: 100%;
        border: 0px solid;
        border-radius: 5pt;
    }
    .grid-baner{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 5px;
        grid-gap: 20px;
    }

    .theme{
        margin: 20px;
        font-weight: 700;
    }
    .products-container {
        display: flex;
        overflow-x: auto;
        gap: 15px;
        padding: 20px;
        scrollbar-width: thin;
    }
    .grid-container{
        display: grid;
        grid-template-rows: auto auto auto;
    }
    img{
        width: 300px;
    }
    .card {
        width: 300px;
        display: flex;
        flex-direction: column;
        font-size: 21px;
        margin: 15px;
    }

    .price-and-basket {
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 100%;
    }


    p, span, svg {
        margin: 0;
    }

    .heart {
        font-size: 36px;
    }

    .heart:hover {
        cursor: pointer;
        color: red;
    }

    .price {
        margin-top: 15px;
        color: rgb(156, 79, 228);
    }

    .old-price {
        text-decoration: line-through;
    }

    .discount {
        font-size: 18px;
    }

    .discount-value {
        padding-left: 6px;
        padding-right: 6px;
        color: white;
        background-color: rgb(156, 79, 228);
    }

    .item-name {
        color: grey;
    }

    .star-yellow {
        color: rgb(218, 148, 37);
    }

    .star-grey {
        color: grey;
    }

@media (max-width: 999px) {
    .header-links > li{
        display: block;
        margin-left: 0px;
        cursor: pointer;
    }
    .grid-container{
        margin-top: 50px;
    }
    .header-links {
        position: fixed;
        width: 300px;
        height:100vh;
        padding:10px;
        padding-left: 30px;
        background-color: rgb(120, 190, 206);
        list-style: none;
        top: 50px;
        left:-100%;
        visibility:hidden;
        transition-duration:1s;
    }

    nav {
    position: relative;
    width: 100%;
    max-width: 1200px;
    }

    .header-links li{
        margin-top: 10px;
    }

    #ham-check{
        opacity:0;
    }

    .ham-button{
        display:block;
        position: absolute;
        width:40px;
        height: 40px;
        left: 20px;
        top: 10px;
    }

    .ham-button>span::after,
    .ham-button>span::before,
    .ham-button>span{
        display:block;
        position:absolute;
        width:45px;
        height: 9px;
        background-color:darkcyan;
        transition-duration:1s;
    }

    .ham-button > span::before{
        top:-15px;
        content:"";
        transition-duration:1s;
    }

    .ham-button > span::after{
        top:15px;
        content:"";
        transition-duration:1s;
    }

    #ham-check:checked ~ .header-links{
        left:0;
        visibility:visible;
        position: fixed;
        transition-duration:1s;
    }

    #ham-check:checked ~ .ham-button > span::after{
        top:0px;
        rotate: 90deg;
        transition-duration:1s;
    }
    #ham-check:checked ~ .ham-button > span{
        rotate: -45deg;
        transition-duration:1s;
    }
    #ham-check:checked ~ .ham-button > span::before{
        top:0;
        transition-duration:1s;
    }
}
@media (max-width:700px) {
    .products-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid-baner{
        display: flex;
        overflow-x: auto;
        gap: 15px;
        padding: 20px;
        scrollbar-width: thin;
    }
    img{
        width: 250px;
    }
}